header.header
    .header__container 
        .header__inner
            a.header__logo(href="main.html") 
                img.header__logo-img(src="assets/images/logo.png", alt="")
            nav.header__menu
                a.header__menu-item.header__menu-about-me About&nbsp;me
                a.header__menu-item.header__menu-skills Skills
                a.header__menu-item.header__menu-portfolio Portfolio
                a.header__menu-item.header__menu-contact-me Contact me