section.portfolio
    .portfolio__container
        .portfolio__background-title-container
            +section-title('Portfolio', 'portfolio__background-title')

            .portfolio__works-container
                .portfolio__works-tabs-container

                .portfolio__works-list
                    .portfolio__works-list-item

