/**
 * SVG Icons Styles
 */

.icon {
	display: inline-block;
	//font-size: 10px;
}

.github {
	width:(35/35)*1em;
	height:1em;
}
.github-h {
	width:(35/35)*1em;
	height:1em;
}
.github-w {
	width:1em;
	height:(35/35)*1em;
}
.linked-in {
	width:(39/39)*1em;
	height:1em;
}
.linked-in-h {
	width:(39/39)*1em;
	height:1em;
}
.linked-in-w {
	width:1em;
	height:(39/39)*1em;
}
.mail {
	width:(38/36)*1em;
	height:1em;
}
.mail-h {
	width:(38/36)*1em;
	height:1em;
}
.mail-w {
	width:1em;
	height:(36/38)*1em;
}
