/**
 * SVG Icons Styles
 */

.icon {
	display: inline-block;
	//font-size: 10px;
}

.css {
	width:(85/100)*1em;
	height:1em;
}
.css-h {
	width:(85/100)*1em;
	height:1em;
}
.css-w {
	width:1em;
	height:(100/85)*1em;
}
.figma {
	width:(70/100)*1em;
	height:1em;
}
.figma-h {
	width:(70/100)*1em;
	height:1em;
}
.figma-w {
	width:1em;
	height:(100/70)*1em;
}
.github {
	width:(35/35)*1em;
	height:1em;
}
.github-h {
	width:(35/35)*1em;
	height:1em;
}
.github-w {
	width:1em;
	height:(35/35)*1em;
}
.html {
	width:(85/100)*1em;
	height:1em;
}
.html-h {
	width:(85/100)*1em;
	height:1em;
}
.html-w {
	width:1em;
	height:(100/85)*1em;
}
.js {
	width:(97/100)*1em;
	height:1em;
}
.js-h {
	width:(97/100)*1em;
	height:1em;
}
.js-w {
	width:1em;
	height:(100/97)*1em;
}
.linked-in {
	width:(39/39)*1em;
	height:1em;
}
.linked-in-h {
	width:(39/39)*1em;
	height:1em;
}
.linked-in-w {
	width:1em;
	height:(39/39)*1em;
}
.mail {
	width:(38/36)*1em;
	height:1em;
}
.mail-h {
	width:(38/36)*1em;
	height:1em;
}
.mail-w {
	width:1em;
	height:(36/38)*1em;
}
.mysql {
	width:(103/100)*1em;
	height:1em;
}
.mysql-h {
	width:(103/100)*1em;
	height:1em;
}
.mysql-w {
	width:1em;
	height:(100/103)*1em;
}
.nodejs {
	width:(86/100)*1em;
	height:1em;
}
.nodejs-h {
	width:(86/100)*1em;
	height:1em;
}
.nodejs-w {
	width:1em;
	height:(100/86)*1em;
}
.react {
	width:(106/100)*1em;
	height:1em;
}
.react-h {
	width:(106/100)*1em;
	height:1em;
}
.react-w {
	width:1em;
	height:(100/106)*1em;
}
.sass {
	width:(128/100)*1em;
	height:1em;
}
.sass-h {
	width:(128/100)*1em;
	height:1em;
}
.sass-w {
	width:1em;
	height:(100/128)*1em;
}
.ts {
	width:(100/100)*1em;
	height:1em;
}
.ts-h {
	width:(100/100)*1em;
	height:1em;
}
.ts-w {
	width:1em;
	height:(100/100)*1em;
}
