footer.footer.gradient-half
    .container
        .footer__inner 
            .footer__links 
                a.footer__links-item(href="#" target="_blank") Правила акции
                a.footer__links-item(href="#" target="_blank") Правила пользования сайтом
                a.footer__links-item(href="#" target="_blank") Политика обработки персональных данных
            .footer__warning
                .footer__warning-icon
                    +svg('age12')
                .footer__warning-text Информация на данном сайте предназначена<br>только для жителей РФ