section.hero
    .hero__container
        .hero__description
            p.hero__description-text Hi, I am
            p.hero__description-name Popenkov Anton
            p.hero__description-speciality Front-end Developer

            .hero__description-links-container
                a.hero__description-link(href="")
                    +svg("mail", 'hero__description-link-img')
                a.hero__description-link(href="")
                    +svg("github", 'hero__description-link-img')
                a.hero__description-link(href="")
                    +svg("linked-in", 'hero__description-link-img')
                
        
        picture
            source(type="image/webp", srcset="../../assets/images/photo.webp  1x, ../../assets/images/photo--2x.webp 2x")
            img.hero__photo(src="../../assets/images/photo.png" srcset="../../assets/images/photo--2x.png 2x")



        .hero__black-rectangle
    