section.hero
    .hero__container
        .hero__description
            p.hero__description-text Hi, I am
            p.hero__description-name Popenkov Anton
            p.hero__description-speciality Front-end Developer

            .hero__description-links-container
                a.hero__description-link(href="")
                    +svg("mail", 'hero__description-link-img')
                a.hero__description-link(href="")
                    +svg("github", 'hero__description-link-img')
                a.hero__description-link(href="")
                    +svg("linked-in", 'hero__description-link-img')
                



        .hero__black-rectangle
    