mixin svg(name, className, mod)
    - m = mod || ''
    svg(class="icon "+name+m class=className+'--'+name+m)
        use(xlink:href="#" + name)

mixin section-title(title, className)
    .section-title-container(class=className)
        a.section-title-container__link
            span.section-title-container__link-text=title
                